.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 717px}
.u-section-1 .u-layout-wrap-1 {width: 1140px; margin: 117px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 600px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 4.5rem; margin: 0 auto 0 0}
.u-section-1 .u-text-2 {line-height: 1.6; font-size: 1.125rem; margin: 16px auto 0 0}
.u-section-1 .u-shape-1 {width: 102px; height: 102px; background-image: none; margin: 30px 0 0 auto}
.u-section-1 .u-image-1 {min-height: 600px; background-image: url("hh.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px 80px 30px 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 612px}
.u-section-1 .u-layout-wrap-1 {width: 940px}
.u-section-1 .u-layout-cell-1 {min-height: 495px}
.u-section-1 .u-image-1 {min-height: 495px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 496px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-image-1 {min-height: 379px}
.u-section-1 .u-container-layout-2 {padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 786px}
.u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {min-height: 569px}
.u-section-1 .u-container-layout-2 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 575px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 11px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-cell-1 {min-height: 475px}
.u-section-1 .u-image-1 {min-height: 353px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 482px}
.u-section-2 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 60px}
.u-section-2 .u-layout-cell-1 {min-height: 216px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {margin-top: 0; font-size: 4.5rem; margin-bottom: 0}
.u-section-2 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: 30px auto 0 0}
.u-section-2 .u-icon-1 {height: 100%}
.u-section-2 .u-icon-2 {height: 100%}
.u-section-2 .u-icon-3 {height: 100%}
.u-section-2 .u-layout-cell-2 {min-height: 216px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-icon-4 {height: 48px; width: 48px; margin: 4px auto 0 0}
.u-section-2 .u-text-2 {font-weight: 700; margin: 20px auto 0 0}
.u-section-2 .u-text-3 {margin: 20px auto 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 216px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-4 {margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-4 {min-height: 216px}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-icon-5 {height: 48px; width: 48px; margin: 0 auto 0 0}
.u-section-2 .u-text-5 {font-weight: 700; margin: 20px auto 0 0}
.u-section-2 .u-text-6 {margin: 23px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 528px}
.u-section-2 .u-layout-cell-1 {min-height: 178px}
.u-section-2 .u-layout-cell-2 {min-height: 178px}
.u-section-2 .u-text-2 {margin-top: 22px}
.u-section-2 .u-layout-cell-3 {min-height: 178px}
.u-section-2 .u-layout-cell-4 {min-height: 178px}
.u-section-2 .u-text-6 {margin-top: -1px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 428px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-1 {font-size: 3rem}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 938px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 830px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 0} }